<%- include('../partials/header') %>

<% if (user) { %>
    <br><br><h2>TRANSACTIONS</h2>
    <form id="add-transaction-form" method="POST"
      action="/tickers/<%= ticker._id %>/transactions">
      <label>PRICE:</label>
      <input type="text" name="price">
      <label>QTY:</label>
      <input type="text" name="shares">
      <label>ORDER:</label>
      <select name="order">
        <option value="1" selected>BUY</option>
        <option value="2">SELL</option>
      </select>
      <input type="submit" value="ADD TRANSACTION">
    </form>
  <% } %>

<%- include('../partials/footer') %>
