body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}